<div class="column">
    <div class="ui fluid card" style="padding: 10px;">
        <div class="ui placeholder">
            <div class="content">
                <div class="image header">
                    <div class="line"></div>
                    <div class="short line"></div>
                </div>
            </div>

            <div class="image">
                <div class="ui placeholder">
                    <div class="square image"></div>
                </div>
            </div>

            <div class="content">
                <div class="line"></div>
                <div class="short line"></div>
                <div class="medium line"></div>
                <div class="line"></div>
                <div class="short line"></div>
            </div>
        </div>
        <br>
    </div>
</div>