<div
  class="ui inverted vertical footer segment"
  style="
    margin-top: 30px;
    background: #4b6cb7;
    background: linear-gradient(to right, #0361ad, #156185);
  "
>
  <div class="ui center aligned container">
    <!-- <img
      src="https://semantic-ui.com/images/avatar2/large/matthew.png"
      class="ui centered mini image"
    /> -->

    <div class="ui centered">
      <i class="terminal icon" style="font-size: 25px;"></i>

    </div>

    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="#">Site Map</a>
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="#">Terms and Conditions</a>
      <a class="item" href="#">Privacy Policy</a>
    </div>
  </div>
</div>
