<div class="ui container" style="margin-top: 70px; ">
  <div class="ui card" style="width: 100%;">
    <div class="content">
        <div class="header">Sorry! You weren't supposed to see this</div>
        <div class="meta">Error 404: The page you're looking for is not found or no longer exists.</div>
        <div class="description">
          <!-- Elliot Fu is a film-maker from New York. -->
        </div>
      </div>

      <div class="content">
        <button routerLink="/" class="ui blue button">Go to homepage</button>
      </div>
  </div>
</div>
