<div class="ui container" style="margin-top: 100px; margin-bottom: 550px;">
  <div class="ui card" style="width: 100%; ">
    <div class="content">
      <div class="header">Unauthorized</div>
      <div class="meta">Error 401: Missing Permissions</div>
      <div class="description">
        Do not worry though, there is always a way to go back home. Try reloadig the page. 
      </div>


      <br> <br>

      <button class="ui blue button" routerLink="/">
        Homepage
      </button>
      <button class="ui blue button" routerLink="/account/register">
        Register
      </button>

      <button class="ui blue button" routerLink="/account/login">
        Login
      </button>


    </div>

  </div>
</div>